###########################################################
#  COMMON SETTINGS                                        #
###########################################################
 debug_mode: false

###########################################################
# APPLICATION SETTINGS                                    #
###########################################################
 app_base_auth_login: login
 app_base_auth_pass: pass
 app_protocol: http
 app_host: my.website.com

 def_test_user: test@test.com
 def_test_pass: mypass
 def_test_name: Auto Tester

###########################################################
# PRE-REQUISITES                                          #
###########################################################
 test_api_token:
 test_api_end_point: "api/v1"


###########################################################
# TEST ENVIRONMENTS SETTINGS                              #
###########################################################

 # Specify maximized browser window size
 maximized_window: false

 # Specify one of the following drivers: selenium, selenium_grid, webkit, poltergeist, phantomjs, sauce,
 # testingbot, browserstack
 driver: phantomjs

 # -Selenium-
 # specify one of next browsers: iexplore (ie), firefox (ff), chrome, safari
 sel_browser: ff

 # -Selenium Grid-
 sel_hub_url: "http://example.com:4444/wd/hub"

 # -PhantomJS-
 # specify settings for poltergeist
 pjs_ignore_js_errors: false
 pjs_ignore_ssl_errors: true

 ###########################################################
 # Cloud-based Cross-browser Services                      #
 ###########################################################
 cloud_auth_login: some_user_or_client_key
 cloud_auth_pass: api_key_or_api_secret_or_access_key
 cloud_platform: any
 cloud_browser_name: Chrome
 cloud_browser_version: '31'
 cloud_max_duration: '1800'

 # -SauceLabs- (https://wiki.saucelabs.com/display/DOCS/Test+Configuration+Options)
 cloud_sauce_record_screenshots: false
 cloud_sauce_idle_timeout: '180'
 cloud_sauce_video_upload_on_pass: false

 # -TestingBot- (https://testingbot.com/support/other/test-options)
 cloud_testingbot_idle_timeout: '180'
 cloud_testingbot_screenshots: false

 # -BrowserStack (https://www.browserstack.com/automate/capabilities)
 cloud_bstack_resolution: '1024x768'
 cloud_bstack_project: 'Howitzer Example'
 cloud_bstack_build: 'v1'
 cloud_bstack_resolution: '1024x768'
 cloud_bstack_mobile_device:

###########################################################
# DATABASE SETTINGS                                       #
###########################################################



###########################################################
# LOGGER SETTINGS                                         #
###########################################################
 log_dir: "log"
 html_log: log.html
 selenium_server_log: selenium-server.log
 required_clean_logs: true

###########################################################
# MAIL SETTINGS                                           #
###########################################################
 mail_adapter: mailgun
 mailgun_key: mailgun_account_private_key
 mailgun_domain: mailgun_domain_with_stored_method

############################################################
# TIMEOUTS                                                 #
############################################################
 timeout_tiny: 1
 timeout_short: 3
 timeout_small: 20
 timeout_medium: 60
